@charset "UTF-8";

/* ==========▼▼▼ ここから変数の指定 ▼▼▼========== */
/* color指定 */
$main-color:#6e6e6e;

/* ==========▲▲▲ ここまで変数の指定 ▲▲▲========== */

/* ==========▼▼▼  ▼▼▼========== */

// body全体の指定
html, body {
	font-family: 'Sawarabi Gothic', sans-serif;
	color: $main-color;
	line-height: 1;
	a {
		text-decoration: none;
	}
	li {
		list-style: none;
	}
}
/* ==========▲▲▲ ここまで ▲▲▲========== */

/* ==========▼▼▼ ここから ▼▼▼========== */

// ヘッダーの指定
header {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	height: 60px;
	padding: 0 20px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	box-sizing: border-box;
	background: #fff;

	// ヘッダーロゴの指定
	h1 {
		display: inline-block;
		width: 120px;
		font-size: 30px;
		position: absolute;
		left: 0;
		top: -8px;
		background: #fff;
		padding: 0 10%;

		// ヘッダーリンクの指定
		a {
			color: $main-color;
		}
	}

/* ヘッダーナビの指定 */	
	nav {
		display: inline-block;
		position: relative;
		.menu-ul {
			display: flex;
			justify-content: flex-end;
			margin: 0;
			li {
				padding: 15px 20px;
				position: relative;
				a {
					color: $main-color;
				}
				&::after {
					position: absolute;
					bottom: 4px;
					left: 0;
					right:0;
					content: '';
					width: 80%;
					height: 2px;
					background: #333;
					transform: scale(0, 1);
					transform-origin: center top;
					transition: transform .3s;
					margin: auto;
				}
				// ホバーしたら下線ビヨーン
				&:hover::after {
					transform: scale(1, 1);
				}
			}
		}
	}
}



/* ==========▼▼▼ ここからレスポンシブ用 ▼▼▼========== */
/* pcとspの幅を定義 */
$pc: 641px; 
$sp: 640px; 

/* レスポンシブ用に横幅の指定 */
@mixin pc {
	@media (min-width: ($pc)) {
		@content;
	}
}
@mixin sp {
	@media (max-width: ($sp)) {
		@content;
	}
}
/* ＠includeを書いて、上記が適用される */
.body img{
	@include pc {
		width: 350px;
		height: auto;
	};
	@include sp {
		width: 100%;
		height: auto;
	};
}
/* pc表示の時のヘッダーはスマホメニュー出さない */
.pc-nav {
	@include sp {
		display: none;
	}
}

/* ========== ここからスマホ用ヘッダーの指定 ========== */
/* スマホ用メニュー（ハンバーガー実装） */
.sp-nav {
	// スマホ表示の時はヘッダーでPCメニュー出さない
	@include pc {
		display: none;
	}
	// スマホ用 三 のスタイル
	// ▼前面表示にしたいからz-indexは1を指定
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	// ▼全画面表示にしたいから100vhに指定
	height: 100vh;
	display: block;
	background: rgba(0, 0, 0, 0.8);
	// ▼三と閉じるを押した時に表示・非表示のアニメーション
	transition: all .2s ease-in-out;

	// リストの指定
	ul {
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	li {
		margin: 0;
		padding: 0;
		span {
			font-size: 15px;
			color: #fff;
		}
		a, span {
			display: block;
			padding: 20px 0;
		}
	}
	// ▼閉じるボタンの装飾
	// 基準のli要素
	.close {
		position: relative;
		padding-left: 20px;
		padding-bottom: 40px;
		// Xの` 1こめ
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			display: block;
			width: 16px;
			height: 1px;
			background: #fff;
			transform: rotate(45deg);
		}
		// Xの/ 2こめ
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			display: block;
			width: 16px;
			height: 1px;
			background: #fff;
			transform: rotate(-45deg);
		}
		// ここまでやったった
	}
}
/* ハンバーガーの棒三本 */
#hamburger {
	position: relative;
	display: block;
	width: 30px;
	height: 25px;
	margin: 0 0 0 auto;
	// ハンバーガーの真ん中
	span {
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		width: 100%;
		height: 2px;
		background-color: #333;
		transform: translateY(-50%);
	}
	// ハンバーガーの上
	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #333;
	}
	// ハンバーガーの下
	&::after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 70%;
		height: 2px;
		background-color: #333;
	}
}

/* ========== ここまでスマホ用ヘッダーの指定 ========== */
/* ==========▲▲▲ ここまでレスポンシブ用 ▲▲▲========== */
