@charset "UTF-8";

// color指定
$main-color:#6e6e6e;

// body全体の指定
html, body {
	font-family: 'Sawarabi Gothic', sans-serif;
	color: $main-color;
	line-height: 1;
	a {
		text-decoration: none;
	}
	li {
		list-style: none;
	}
}

// ヘッダーの指定
header {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	height: 60px;
	padding: 0 20px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	box-sizing: border-box;
	background: #fff;

	// ヘッダーロゴの指定
	h1 {
		display: inline-block;
		width: 120px;
		font-size: 30px;
		position: absolute;
		left: 0;
		top: -8px;
		background: #fff;
		padding: 0 10%;

		// ヘッダーリンクの指定
		a {
			color: $main-color;
		}
	}

	// ヘッダーナビの指定
	nav {
		display: inline-block;
		position: relative;
		.menu-ul {
			display: flex;
			justify-content: flex-end;
			margin: 0;
			li {
				padding: 15px 20px;
				position: relative;
				a {
					color: $main-color;
				}
				&::after {
					position: absolute;
					bottom: 4px;
					left: 0;
					right:0;
					content: '';
					width: 80%;
					height: 2px;
					background: #333;
					transform: scale(0, 1);
					transform-origin: center top;
					transition: transform .3s;
					margin: auto;
				}
				// ホバーしたら下線ビヨーン
				&:hover::after {
					transform: scale(1, 1);
				}
			}
		}
	}
}



/* 
	▼▼▼　レスポンシブ用　▼▼▼
*/
//pcとspの幅を定義
$pc: 741px; 
$sp: 740px; 

//max-widthを指定
@mixin pc {
	@media (min-width: ($pc)) {
		@content;
	}
}
@mixin sp {
	@media (max-width: ($sp)) {
		@content;
	}
}
//＠includeする事で、上記が適用される
.body img{
	@include pc {
		width: 350px;
		height: auto;
	};
	@include sp {
		width: 100%;
		height: auto;
	};
}

/* pc表示の時のヘッダーはスマホメニュー出さない */
.pc-nav {
	@include sp {
		display: none;
	}
}

.sp-nav {
	
	/* スマホ表示の時はヘッダーでPCメニュー出さない */
	@include pc {
		display: none;
	}
}


// モバイル用
// 	.sp-nav {
// 		z-index: 1;
// 		position: fixed;
// 		top: 0;
// 		left: 0;
// 		width: 100%;
// 		height: 100vh;
// 		display: block;
// 		width: 100%;
// 		background: rgba(0, 0, 0, .8);
// 		transition: all .2s ease-in-out;
// 		opacity: 0;

// 		// 閉じる
// 		.close {
// 			position: relative;
// 			padding-left: 20px;

// 			// バッテン1こ目の線
// 			&::before {
// 				content: '';
// 				position: absolute;
// 				top: 50%;
// 				left: 0;
// 				display: block;
// 				width: 16px;
// 				height: 1px;
// 				background-color: #fff;
// 				transform: rotate( 45deg );
// 			}
// 			// バッテン2こ目の線
// 			&::after {
// 				content: '';
// 				position: absolute;
// 				top: 50%;
// 				left: 0;
// 				display: block;
// 				width: 16px;
// 				height: 1px;
// 				background: #fff;
// 				transform: rotate( -45deg );
// 			}
// 		}

// 		ul {
// 			padding: 0;
// 			display: flex;
// 			flex-direction: column;
// 			justify-content: center;
// 			align-items: center;
// 			height: 100%;

// 			li {
// 				margin: 0;
// 				padding: 0;

// 				span {
// 					font-size: 15px;
// 					color: #fff;

// 					& a {
// 						display: block;
// 						padding: 20px 0;
// 					}
// 				}
// 			}
// 		}
// 	}

// 	#hamburger {
// 		position: relative;
// 		display: block;
// 		width: 30px;
// 		height: 25px;
// 		margin: 0 0 0 auto;

// 		// 真ん中のハンバーグ
// 		span {
// 			position: absolute;
// 			top: 50%;
// 			left: 0;
// 			display: block;
// 			width: 100%;
// 			height: 2px;
// 			background-color: #000;
// 			transform: translateY(-50%);
// 		}

// 		// ハンバーガーの上のバンズ
// 		&::before {
// 			content: '';
// 			display: block;
// 			position: absolute;
// 			top: 0;
// 			left: 0;
// 			width: 100%;
// 			height: 2px;
// 			background-color: #000;
// 		}

// 		// ハンバーガー下のバンズ
// 		&::after {
// 			content: '';
// 			display: block;
// 			position: absolute;
// 			bottom: 0;
// 			left: 0;
// 			width: 70%;
// 			height: 2px;
// 			background-color: #000;
// 		}
// 	}

// 	.toggle {
// 		transform: translateY(0);
// 		opacity: 1;
// 	}
// } 