@charset "UTF-8";
html, body {
  font-family: 'Sawarabi Gothic', sans-serif;
  color: #6e6e6e;
  line-height: 1;
}

html a, body a {
  text-decoration: none;
}

html li, body li {
  list-style: none;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  box-sizing: border-box;
  background: #fff;
}

header h1 {
  display: inline-block;
  width: 120px;
  font-size: 30px;
  position: absolute;
  left: 0;
  top: -8px;
  background: #fff;
  padding: 0 10%;
}

header h1 a {
  color: #6e6e6e;
}

header nav {
  display: inline-block;
  position: relative;
}

header nav .menu-ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

header nav .menu-ul li {
  padding: 15px 20px;
  position: relative;
}

header nav .menu-ul li a {
  color: #6e6e6e;
}

header nav .menu-ul li::after {
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  content: '';
  width: 80%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
  margin: auto;
}

header nav .menu-ul li:hover::after {
  transform: scale(1, 1);
}

/* 
	▼▼▼　レスポンシブ用　▼▼▼
*/
@media (min-width: 741px) {
  .body img {
    width: 350px;
    height: auto;
  }
}

@media (max-width: 740px) {
  .body img {
    width: 100%;
    height: auto;
  }
}

/* pc表示の時のヘッダーはスマホメニュー出さない */
@media (max-width: 740px) {
  .pc-nav {
    display: none;
  }
}

.sp-nav {
  /* スマホ表示の時はヘッダーでPCメニュー出さない */
}

@media (min-width: 741px) {
  .sp-nav {
    display: none;
  }
}
